/* doge toe css */

body {
	background-color: #000;
	color: #fff;

	background-image: url(img/doge-boy.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;

	/* Allow mouse dragging. */
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

	/* Allow canvas to hit the edges of the browser viewport. */
	margin: 0;
}
#container {
	width: 340px;
	height: 100%;
	margin: 0 auto;
}
#container h1 {
	text-align: right;
	margin: 0;
}
#container h2 {
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	color: #999;
	font-size: 110%;
}
#container a {
	text-decoration: none;
	margin-bottom: 10px;
	color: rgba(67, 131, 47, 1);
	font-size: 80%;
}
#container a:hover {
	color: rgba(79, 237, 30, 1);
}
#player-one, #player-two {
	width: 12pt;
	font-size: 12pt;
	text-align: center;
	float: left;
}
#reset {
	font-size: 12pt;

	position: relative;
	top: 154px;
	left: -148px;
}
#screen {
	/* placing on doge-boy */
	position: fixed;
	top: 55px;

	margin: auto;

	/* Hide the gap for font descenders. */
	display: block;

	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

